@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .button-generic-styles {
    @apply h-[34px] px-[10px] py-2 rounded-[10px] text-sm font-normal;
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* ** ** ** */
/* Button */
/* ** ** ** */

.ant-btn.primary {
  @apply bg-green-500 hover:bg-green-700 text-white border border-gray-50;
}
.ant-btn.primary:disabled {
  @apply bg-gray-400 border-gray-50;
}

.ant-btn.secondary {
  @apply bg-white text-green-600 border border-gray-500 hover:border-blue-700;
}

.ant-btn.secondary:disabled {
  @apply bg-gray-300 text-white;
}

.ant-btn.additional {
  @apply text-blue-400 hover:text-gray-600 underline;
}
.ant-btn.additional:disabled {
  @apply text-gray-400 underline;
}
.ant-btn.alert {
  @apply bg-red-400 hover:bg-red-700 text-white border border-gray-50;
}
.ant-btn.alert:disabled {
  @apply bg-gray-400;
}

/* ** ** ** */
/* Checkbox */
/* ** ** ** */

.ant-checkbox-inner {
  clip-path: circle(90%);
  @apply bg-white border-gray-500;
}

.ant-checkbox-input:checked + .ant-checkbox-inner {
  @apply bg-green-500;
}

.ant-checkbox-input:hover + .ant-checkbox-inner {
  box-shadow: 0 0 0 10px #edf6fc;
  clip-path: circle(90%);
  @apply border-gray-600;
}
